<html>
	<head>
		<title>Administrator Login</title>
		<link rel = "stylesheet" href = "css/adminlogin.css" />
	</head>
	<body>
		<div id = "adminlogin1">
			<header>
                <h1>Kimra Homspital</h1>
			</header>
		</div>
		<div id = "adminlogin2">
			<div>
				
				<h2>ADMINSTRATOR LOGIN</h2>
				<form action = "/admin/portal" method = "post">
					<p>USERNAME</p>
					<input type = "text" name = "username" placeholder = "Enter Username" autocomplete = "off" required />
					<p>PASSWORD</p>
					<input type = "password" name = "password" placeholder = "Enter Password" autocomplete = "off" required />
					<input type = "submit" name = "submit" value = "Log In" />
				</form>
			</div>
		</div>
		<div id = "adminlogin3">
			<footer>
				<ul>
					<li>Contact number: 080-23450917, 080-23450918, 080-23450919, 080-23334565</li>
					<li>&copy; NMIT Foundation for Medical Education and Research (NMITMER). All rights reserved.</li>
				</ul>
			</footer>
		</div>
	</body>
</html>
