<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Hospital</title>
</head>
<body>
    <h1>
        Kimra Homspital DmB
    </h1>
    <header>
        <div>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Contact US</li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div>
            <big>Logins</big>
        </div>
        <div class="loginbox">
            <a href="/doctor">Doctor</a>
            <a href="/admin">Admin</a>
        </div>
        <div class="rel">
            Patient? <a href="#">Register Here...</a>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>