<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Dear {{patient}}
    Your Doctor.{{doctor}} has given you some medicine,
     Your Bill Summary is:
    <table>
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>Medicine ID</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for i in result %}
            <tr>
                <td>{{ i[0] }} </td>
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        Your Final bill is : {{bill}}
    </div>
</body>
</html>